body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    cursor: default;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url(../Images/Background/scale_1200.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__title {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}
.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: #fff;
}
.intro__suptitle {
    font-size: 64px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}


/* Header */
.header {
    width: 100%;
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-decoration: none;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: #fff;
    text-decoration: none;
    
    transition: color .2s linear;
}
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}
.nav__link:hover {
    color: #fce38a;
}
.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}
.nav__link.active {
    color: #fce38a;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}
.btn:hover {
    background-color: #fff;
    color: #333;
}